/*Full screen macbook OK. Don't forget the responsiveness on other screens*/
img {
  display:block;
  margin:auto;
  width:70%;
}

.keys {
  position:relative;
  padding: 0px;
}

.white> .sound {
  position:absolute;
  bottom:5%;
  width:35%;
  height:12%;
  box-shadow: 2px 2px grey;
  background-color: white;
  text-align:center;

}

.black> .sound {
  position:absolute;
  bottom:5%;
  width:54%;
  height:14%;
  box-shadow: 2px 2px grey;
  background-color: white;
  text-align:center;

}
.white, .red {
  width:64%;
  height:177px;
  border: black solid 3px;
  box-shadow: 2px 2px black
}

.white > p {
vertical-align: center;
}

.key {
  transition:all 0.07s;
  position:relative;
}

.playing {

border: black solid 2px;
transform: scale(0.98);
}

.white {
  background-color: #ffffff;
}

.uno {
top:-2%;
right:81%;
width:37%;

}

.deux {
top:-2%;
right:81%;
width:37%;
}

.trois {
top:-2%;
right:81%;
width:37%;
}

.quatre {
top:-2%;
right:81%;
width:37%;
}

.cinq {
top:-2%;
right:81%;
width:37%;
}

.six {
top:-2%;
right:81%;
width:37%;
}

.sept {
top:-2%;
right:81%;
width:37%;
}

.huit {
top:-2%;
right:81%;
width:37%;
}

.neuf {
top:-2%;
right:81%;
width:37%;
}

.zero {
top:-2%;
right:81%;
width:37%;
}

.red {
  background-color: red;
}


.black {
  height:67%;
  background-color: #000000;
  border: black solid 3px;
  position: absolute;


}

.container {
  display:flex;
}
